# app
NODE_ENV=dev #prod

# docker compose
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=database

# JWT
JWT_SECRET=
JWT_TTL='1h'

# prisma
DATABASE_URL="postgresql://user:password@localhost:5432/database?schema=public"

# vercel
BLOB_READ_WRITE_TOKEN=